@font-face {
    font-family: proxima-nova;
    src: url(fonts/proxima_nova_light-webfont.woff);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	margin:0px;
	padding: 0px;
	font-family: proxima-nova, sans-serif; 
	font-weight: 100;
	color: #343434;
}

body{
	background-color: #f3f3f3;
}


a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	text-align: center;
}

li{
	display: inline-block;
}

li a{
	margin: 4px;
	padding: 25px 10px;
	display: inline-block;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	word-spacing: 2px;
}

.principal{
	max-width: 1119px;
	margin: auto;
}

/* HEADER */

header{
	position: fixed;
	width: 100%;
	max-width: 1119px;
}

.header-wrap{
	max-width: 1119px;
}

.header-title{
	margin:auto;
	text-align: center;
	background-color: #ffffff;
}

.title-item{
	height: 21px;
	margin-top: 38px;
	margin-bottom: 42px;
	display: inline-block;
}

.title{
	width: 83%;
    transition: font-size 0.5s;
}


.fa-bars{
	cursor: pointer;
}

.menu{
	width: 100%;
	background-color: #fafafa;	
	transition: all 0.1s linear;
	position: relative;
	z-index: -1;
	top: -73px;
}

.out{
	display: none;
}

/* FIM HEADER */

/* ARTICLE */

.banner{
	position: fixed;
	max-width: 1118px;
	margin: auto;
	top: -80px;
	z-index: -2;
	opacity: 1;
	outline: solid red 3px;
}

.imagem{
	width: 100%;
	position: relative;
}

.info{
	max-width: 1118px;
	height: 364px;
	background-color: #ffffff;
	position: relative;
	top: 660px;
	z-index: -2;
}

.enfatizado{
	margin: auto;
	text-align: center;
	font-size: 24px;
	max-width: 350px;
	font-style: italic;
	position: relative;
	top: 70px;
	font-weight: 550;
	line-height: 28px;
	z-index: -2;
}

.texto{
	margin: auto;
	text-align: left;
	max-width: 630px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: 89px;
	font-size: 16px;
	line-height: 25px;
	z-index: -2;

}

/* FIM ARTICLE*/

/* FOOTER */

footer{
	width: 100%;
	min-height: 222px;
	background-color: #ffffff;
	position: relative;
	top: 660px;
}

.foot-info{	
	margin: 70px;
	margin-top: 36px;
	padding: 5px;
	font-size:14px;
	line-height: 28px;
	max-width: 200px;
}

.assinatura{
	text-align: left;
	float: left;
}

.end{
	text-align: right;
	float: right;
}

/* FIM FOOTER */


@media screen and (max-width: 645px) {

	/* HEADER 645*/

	.title-item{
		margin: 0PX;
		font-size: 14PX;
		margin-top: 23px;
	}

	/* FIM HEADER 645*/

	/* ARTICLE 645*/
	.info{
		height: 164px;
		top: 300px;
	}

	/* FIM ARTICLE 645 */
}


@media screen and (max-width: 480px) {
	
	h1{
	}


	li a{
		float: left;
		width: 200px;
		padding: 15px 0px;
		margin: 0px;
		background-color: #ffffff;
	}

	/* HEADER 480*/

	.header-title{
		height: 57px;
	}

	.title-item{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.title{
		width: 60%;
		font-size: 14px;
	}

	.in{
		display: none;
	}

	.out{
		position: fixed;
	}

	.fa{
		margin: 2px
	}

	/* FIM HEADER 480*/
	/* ARTICLE 480 */

	.principal{
		float: left;
		position: relative;
		left: 0px;
	}

	.banner{
		z-index: 0;
	}

	/* FIM ARTICLE 480*/
	/* FOOTER  480 */
	.foot-info{	
		margin: 0px;
		margin-top: 36px;
		padding: 5px;
		font-size:14px;
		line-height: 28px;
		width: 110px;
	}

	/* FIM FOOTER 480 */
}