@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: proxima-nova;
  src: url(../fonts/ProximaNova-Light.otf); }

@font-face {
  font-family: proxima-nova-bold;
  src: url(../fonts/ProximaNova-Reg.otf); }

* {
  margin: 0px;
  padding: 0px;
  font-family: proxima-nova, sans-serif;
  font-weight: 100 !important;
  color: #668b8e;
  text-align: center; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

body {
  background-color: #c5d0d4;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

li {
  display: inline-block; }

li a {
  margin: 4px;
  padding: 25px 10px;
  display: inline-block;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  word-spacing: 2px; }

.principal {
  max-width: 1119px;
  margin: auto;
  background-color: #ffffff;
  transition: all 0.5s linear; }

.semdisplay {
  display: none !important; }

/* HEADER */
header {
  z-index: 0;
  position: fixed;
  width: 100%;
  left: 0; }

.header-wrap {
  width: 1119px;
  margin: auto;
  height: 0px; }

.header-title {
  background-color: #f9ead7; }

.title-item {
  margin-top: 38px;
  margin-bottom: 42px;
  display: inline-block; }

.title {
  width: 83%;
  transition: font-size 0.5s; }

.fa-envelope-o,
.fa-bars,
#fecharModal {
  cursor: pointer; }

.menu {
  background-color: #fafafa;
  transition: all 0.1s linear;
  z-index: -1;
  top: -76px;
  position: relative; }

.contactMe {
  height: 50px; }

.modal {
  display: none;
  width: 100%;
  height: 580px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2; }
  .modal-col6 {
    float: left;
    width: 50% !important; }

#fecharModal {
  position: absolute;
  left: 88%;
  top: 70%;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 100 !important; }

.modalWrap {
  margin: auto;
  max-width: 1119px; }

.modalInfo {
  margin-top: 107px;
  width: 50%;
  height: 300px;
  float: left;
  background-color: #eeeeee;
  padding-top: 71px; }

.textoContactModal {
  text-align: left;
  margin-left: 13%;
  font-weight: bold; }

.textoContactModal ~ p {
  font-size: 0.8em;
  margin-top: 18px; }

.telEmailModal {
  max-width: 200px;
  margin-left: 70px;
  margin-top: 1rem;
  text-align: left; }
  .telEmailModal address {
    position: relative;
    left: 0px;
    margin: 1rem 0 !important; }
  .telEmailModal img {
    margin-top: 1rem;
    width: 30px !important; }

h3 {
  letter-spacing: 1px; }

/* FORM*/
input, textarea {
  padding: 1rem .6rem;
  box-sizing: border-box; }

input[name="name"],
input[name="surname"] {
  width: 40.5%;
  display: inline-block;
  text-align: left;
  height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem; }

input[type="email"],
textarea {
  display: block;
  width: 82%;
  margin: auto;
  text-align: left;
  height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem; }

textarea {
  height: 5rem;
  box-sizing: border-box; }

button {
  display: block;
  margin-left: 9%;
  font-size: 1.1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.6rem;
  border-width: 3px; }

/* END FORM*/
/* FIM HEADER */
/* ARTICLE */
.depoimento--positionTop {
  padding-top: 112px; }

.depoimento__texto p {
  text-align: left !important;
  text-indent: 20px; }

.depoimento__texto span {
  text-align: right !important;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #000000;
  font-style: italic; }

.contato--positionTop {
  padding-top: 112px; }

.contato__row {
  width: 100%;
  margin-bottom: 5vh; }

.contato__col2 {
  display: inline-block;
  float: left;
  width: 50%;
  max-height: 357px;
  overflow: hidden; }

.contato__col4 {
  display: inline-block;
  float: left;
  width: 25%;
  max-height: 357px;
  overflow: hidden; }

.contato__col4::after {
  content: "x";
  visibility: hidden; }

.contato__form {
  background-color: #eeeeee;
  padding: 10vh 0; }

.contato__mapa {
  width: 100%; }

.banner {
  z-index: -2;
  float: left;
  position: relative;
  background-color: #ffffff; }

.imagem {
  background-image: url(../image/rolfing.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% -73px;
  height: 750px; }

.info {
  background-color: #ffffff;
  z-index: -2; }

.enfatizado {
  padding-top: 58px;
  padding-bottom: 20px;
  font-size: 24px;
  font-style: italic;
  line-height: 30px;
  z-index: -2;
  font-family: proxima-nova-bold, sans-serif; }
  .enfatizado__marginBottom30 {
    margin-bottom: 60px; }

.texto {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  z-index: -2;
  margin: 22%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 93px; }
  .texto__ida {
    background-color: #f8ead5;
    padding: 1rem 2rem;
    margin-bottom: 93px; }

#textoHome, #textoHome2, #textoClinica {
  opacity: 1;
  transition: opacity 1s linear; }
  #textoHome p, #textoHome2 p, #textoClinica p {
    word-spacing: 4px;
    text-align: left !important; }
  #textoHome .textoPati--sobreRolfing, #textoHome2 .textoPati--sobreRolfing, #textoClinica .textoPati--sobreRolfing {
    font-style: italic;
    margin-top: 20px;
    text-indent: 30px;
    word-spacing: 3em; }
  #textoHome .textoPati p,
  #textoHome .textoClinica p, #textoHome2 .textoPati p,
  #textoHome2 .textoClinica p, #textoClinica .textoPati p,
  #textoClinica .textoClinica p {
    word-spacing: 4px;
    text-align: left !important;
    margin: 20px 0px; }
  #textoHome .imgPati, #textoHome2 .imgPati, #textoClinica .imgPati {
    width: 45%;
    float: left;
    margin-right: 20px; }
  #textoHome .imgClinica, #textoHome2 .imgClinica, #textoClinica .imgClinica {
    width: 100%; }

#saibaMais {
  font-weight: 600;
  border-bottom: solid 2px; }

/* FIM ARTICLE*/
/* FOOTER */
footer {
  width: 100%;
  min-height: 222px;
  background-color: #ffffff;
  float: left; }

.foot-info {
  margin-top: 36px;
  padding: 5px;
  font-size: 14px;
  line-height: 28px;
  max-width: 200px; }

.end {
  text-align: right; }

.foot-info span {
  display: inline-block;
  text-align: left;
  line-height: 16px; }

.assinatura {
  text-align: left;
  margin-left: auto; }

.whatsLogo img {
  width: 50%;
  opacity: 0.5; }

.logo {
  max-width: 400px !important;
  margin: auto;
  margin-top: 36px; }
  .logo img {
    width: 400px; }
  .logo p {
    font-size: 0.7rem;
    line-height: 1rem;
    color: #00AFC8;
    text-align: left; }

.col-footer-3 {
  width: 25%;
  float: left; }

.col-footer-6 {
  width: 50%;
  float: left; }

address {
  padding-right: 60px;
  position: relative;
  right: -40px; }

address a {
  float: left; }

address a:before {
  content: '\2709';
  padding-right: 5px; }

.iconeMsg:before {
  content: '\2706';
  padding-right: 5px; }

/* FIM FOOTER */
@media screen and (max-width: 1119px) {
  .header-wrap {
    width: 100%; }
  .imagem {
    width: 100%;
    background-size: 100%;
    background-position: center; } }

@media screen and (max-width: 645px) {
  li {
    width: 87%;
    z-index: -1; }
  .principal {
    position: relative;
    left: 0%;
    z-index: 1; }
  /* HEADER 645*/
  header {
    position: relative;
    float: left;
    z-index: -1; }
  .header-wrap {
    height: 58px; }
  .menu {
    position: fixed;
    top: 0px !important;
    left: -8%; }
  .title {
    font-size: 14px;
    width: 84%; }
  .title-item {
    font-size: 14PX !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .modal {
    position: static; }
    .modal * {
      z-index: 500; }
    .modal .textoContactModal {
      font-size: 1.2rem;
      padding-right: 1rem; }
    .modal .modalInfo {
      margin-top: 0px; }
    .modal #fecharModal {
      top: 13%; }
    .modal-col6 {
      float: left;
      width: 100% !important;
      height: 35vh;
      padding-top: 20px; }
    .modal input[type="submit"] {
      width: 30%; }
    .modal .telEmailModal .iconeMsg {
      position: relative;
      left: -30px;
      font-size: 1.2rem; }
    .modal .telEmailModal address {
      position: relative;
      left: -30px;
      margin: 0rem 0 !important;
      font-size: 1.2rem; }
  /* FIM HEADER 645*/
  /* ARTICLE 645*/
  .depoimento--positionTop {
    position: relative;
    top: 57px;
    padding-top: initial; }
  .banner {
    z-index: 0; }
  .imagem {
    height: 165px;
    background-position: 50% 0px !important;
    background-attachment: scroll; }
  .info {
    top: 300px; }
  .texto {
    margin: 6%;
    margin-top: 0px;
    margin-bottom: 0px; }
  #textoHome .imgPati {
    width: 100%;
    float: initial; }
  .contato--positionTop {
    padding-top: 57px; }
  .contato__row {
    width: 100%;
    margin-bottom: 5vh; }
  .contato__col2 {
    width: 100%; }
  .contato__col4 {
    width: 25%; }
  .contato__col4::after {
    content: "x";
    visibility: hidden; }
  .contato__form {
    background-color: #eeeeee;
    padding: 10vh 0; }
  .contato__mapa {
    width: 100%; }
  .contato__texto {
    padding: 0 7%; }
  /* FIM ARTICLE 645 */
  /* FOOTER  645 */
  .foot-info {
    margin: 15px;
    margin-top: 36px;
    padding: 0px;
    width: 125px; }
  .col-footer-3,
  .col-footer-6 {
    width: 100%;
    margin-bottom: 20px; }
    .col-footer-3 > *,
    .col-footer-6 > * {
      text-align: center;
      width: 100%;
      margin: auto; }
    .col-footer-3 .logo,
    .col-footer-6 .logo {
      width: 100%;
      padding: 0 1rem;
      box-sizing: border-box; }
      .col-footer-3 .logo img,
      .col-footer-6 .logo img {
        width: 250px; }
  /* FIM FOOTER 645 */ }

@media screen and (max-width: 480px) {
  /* HEADER 480*/
  .header-title {
    height: 57px; }
  .fa {
    margin: 2px; }
  .title {
    width: 74%; }
  /* FIM HEADER 480*/
  /* ARTICLE 480 */
  .texto {
    padding-bottom: 53px; }
  #textoHome {
    word-spacing: 0.6px; }
  /* FIM ARTICLE 480*/
  /* FOOTER  480 */
  .foot-info {
    margin: 0px;
    margin-top: 36px;
    padding: 0px;
    width: 125px; }
  .assinatura {
    margin-left: 18px; }
  .logo img {
    margin-left: 18px; }
  .end {
    margin-left: 18px; }
  address {
    position: relative;
    right: -8px; }
  .whatsLogo {
    position: relative;
    left: -30px; }
  /* FIM FOOTER 480 */ }
