
	<article class="depoimento depoimento--positionTop">
		<div class="info">
			<div class="enfatizado">
				<h2>Instituto Ghelman Medicina Integrativa</h2>
			</div>
			
			<div class="texto" id="textoClinica">
			<div class="textoPati textoClinica">
				<p>Nosso espaço de trabalho fica localizado no Institudo Ghelman de Medicina Integrativa, na Rua Avilândia número 345, no bairro Alto de Pinheiros, São Paulo Capital.</p>
			<img class="imgClinica" src="image\\imgClinica1.jpg">
				<p>O instituto conta com garagem e sala de recepção</p>
			<img class="imgClinica" src="image\\imgClinica2.jpg">
			<p></p>
			<img class="imgClinica" src="image\\imgClinica3.jpg">
				<p>Mais informações sobre o institudo no site <a href="http://institutoghelman.com/" target="_blank">institutoghelman.com</a></p>
			</div>
			</div>
		</div>

		

	



	</article>