
	<article class="contato contato--positionTop">
		<div class="info">
			<div class="enfatizado"> <h2>Contato</h2></div>

			<div class="contato__row clearfix">
				<div class="contato__col4"></div>	
				<div class="contato__col2">			
					<div class=" contato__texto">
						<p>Para mais informações sobre meu trabalho, sobre o Rolfing&reg, consultas e valores, 
							entre em contato por email, telefone, whatsapp ou envie uma mensagem!</p>
					</div>
				</div>
				<div class="contato__col4"></div>	
			</div>	
			<div class="contato__row clearfix">
				<div class="contato__col2">			
					<div class=" contato__form">
						<form class="form-content" action="contato-exe.php" method="post"> 
							<input type="text" name="name" required id="name" placeholder="Nome">
							<input type="text" name="surname" required id="surname"  placeholder="Telefone">
							<input type="email" name="email" required id="email"  placeholder="E-mail">
							<textarea id="" name="msg" required placeholder="Mensagem"></textarea>
							<button type="submit" name="submit">ENVIAR</button>
							<input type="hidden" name="contato" value="contato">
						</form>		
					</div>
				</div>
				<div class="contato__col2">
					<iframe class="contato__mapa" 
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14630.499385340816!2d-46.7067112!3d-23.5459919!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xffb18a8d3af236b2!2sInstituto+Ghelman+e+Rolfing+Patricia+Zamparini!5e0!3m2!1spt-BR!2sbr!4v1537803918625" 
					height="357" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>	
		</div>
	</article>