
	<footer>

		<div class="col-footer-3">
			<div class="foot-info assinatura">
				<span>Patricia Zamparini</span><br>
				<span>Terapia Rolfing<span>&reg</span></span>
			    <span class="iconeMsg">11 99886-4263</span><br>
			    <span class="whatsLogo"> <a href="https://wa.me/5511998864263"><img src="image/whatslogo.png"></a></span>
			</div>			
		</div>

		<div class="col-footer-6">
			<div class="foot-info logo">
				<a target="_blank" href="https://rolfing.com.br/">
					<img src="image\image001hor.png">
					<p>O Rolfing® é uma marca registrada, de propriedade do Rolf Institute for Structural Integration, utilizada para designar o trabalho de integração estrutural criado originalmente por Ida Rolf.</p>
				</a>
			</div>
		</div>

		<div class="col-footer-3">
			<div class="foot-info end">Rua Alvilândia 345<br>
						São Paulo - Brasil<br>
			    <address class="email"> 
			    	<a href="mailto:patricia@rolfing.sampa.br;info@zader.com.br">patricia@rolfing.sampa.br</a>
			    </address>
			</div>			
		</div>

	</footer>
</div>

<script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>
