
	<article>
		<div class="banner">
			<div class="imagem" data-type="background" data-speed="3">
		</div>		
		<div class="info">
			<div class="enfatizado enfatizado__marginBottom30"> Rolfing<span>&reg</span> Integração Estrutural<br>
				Corpo sem dores<br>
				Sensação de totalidade
			</div>
			
			<div class="texto depoimento__texto texto__ida">
				<p>"Nós, profissionais de Rolfing&reg , não curamos doenças. Somos profissionais invocando saúde. Ao trabalharmos para reconstituir a forma do corpo humano estamos cultivando o equilíbrio, que é a chave para um bem-estar maior, tanto subjetivo quanto objetivo."</p>
				<span>Ida P. Rolf</span>
			</div>	
		</div>
	</article>