
	<article class="depoimento depoimento--positionTop">
		<div class="info">
			<div class="enfatizado">
				<h2>Sobre o Rolfing®</h2>
			</div>
			
			<div class="texto" id="textoHome2">
			<img class="imgPati" src="image\image001.png">
			<div class="textoPati">
				<p>O Rolfing<span>&reg</span> Integração Estrutural atua na reorganização do corpo, sanando dores e desconforto físico causados pelo seu desalinhamento em relação a gravidade. Através do contato com o tecido conjuntivo e da consciência corporal, o corpo volta a ter sua vitalidade sem a necessidade forçada de sempre se manter em uma posição correta. Sou fisioterapeuta e rolfista. Trabalho a 23 anos na área da saúde. Durante nossa vida expomos nosso corpo a situações inadequadas e quando nos damos conta estamos cheios de dores, desconforto físico e até emocional, o que acontece porque estamos desalinhados em relação á gravidade.</p>
			</div>
			<div class="textoPati textoPati--sobreRolfing">
				<p>"O Rolfing<span>&reg</span> Integração Estrutural age nesses momentos, reorganizando o corpo todo. Através de toques no tecido conectivo que envolve nosso corpo (físico) e consciência corporal, o corpo volta a ter vitalidade novamente sem precisarmos nos forçar a ficar em outra posição. O Rolfing<span>&reg</span> Integração Estrutural é envolvente, é gostoso e te livra das dores do corpo através da sensação de totalidade, é receber pra entender."</p>
				<br><p>Te espero!</p>
				<br>
				<p>Patricia O. G. Zamparini</p>
			</div>
			</div>
		</div>

		

	



	</article>