
	<article class="depoimento depoimento--positionTop">
		<div class="info">
			<div class="enfatizado">
				<h2>Sobre Patricia Zamparini</h2>
			</div>
			
			<div class="texto" id="textoHome2">
			<img class="imgPati" src="image\\rolfingpatricia2.jpeg">
			<div class="textoPati">
				<p>Patricia Zamparini - Fisioterapeuta e Rolfista Crefito 3-74165/F</p>

				<p>É Bacharel em Fisioterapia pela Universidade Paulista desde 2003. Concluiu sua pós graduação em 2007 com Rolfing® Estrutural e de Movimeto pela Associação Brasileira de Rolfing®. Em 2014 trabalhou como Rolfista no Hospital Israelita Albert Einstein.
				É formada em diversos tipos de terapias manuais ocidentais e orientais, as quais trabalha há 20 anos, entre elas a formação pela Assoaciação Brasileira de Massagem Oriental em 1999, e Massagem Indiana pela Associação Brasileira de Terapias Ayurveda em 2004. Possui treinamento e formação em Liberação Miosfascial e Relações Terapêuticas e também trabalha com Shantala (massagem para bebês), a qual ministra cursos para casais e gestantes.
				Em 2017 se formou facilitadora de Barras de Acesso - Access Consciousness. Atualmente deselvolve o trabalho de reeducação postural, conciência pelo movimento e auto-conhecimento de seus pacientes através do Rolfing®, no Instituto Ghelman Medicina Integrativa.</p>
			</div>
			</div>
		</div>

		

	



	</article>